
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$Indigo: #4B0082;
$DarkMagenta: #8B008B;
$MidnightBlue: #191970;
$DimGray: #696969;
$Dgrey: #23272A;
$Dlgrey: #2C2F33;
$Burple: #5865F2;
$casiwhite: #F6F6F6;
$metal: #99AAB5;
$azulplomo: #2b3944;
$azulito: #1f3b50;
$oxfordblue: #14213d;
$orangeweb: #FCA311;
$richblack: #000814;
$babypowder: #FDFFFC;
$tiffanyblue: #2EC4B6;
$oxfordblues: #001D3D;
#blueviolet: #47126B;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
